<div class="row center">
  <div class="title">
    <h1>The New York Times Scraper</h1>
  </div>
</div>



<div class="container">
  <div class="row">
    <button class="btn waves-effect waves-light green darken-3" type="submit" name="action" id="scrape-button">
      Scrape Articles
      <i class="material-icons right">add_box</i>
    </button>
    <button class="btn waves-effect waves-light blue darken-3" type="submit" name="action" id="clear-button">
      Clear Articles
      <i class="material-icons right">clear</i>
    </button>
    <button class="btn waves-effect waves-light purple darken-3" type="submit" name="action" id="view-saved-button">
      View Saved Articles
      <i class="material-icons right">get_app</i>
    </button>
  </div>

  <div class="row">
    <h4>Technology Articles</h4>
    <div id="articles"></div>
    {{!-- <div id="notes"></div> --}}
  </div>
</div>