<div class="row center">
  <div class="title">
    <h1>New York Times Scraper</h1>
  </div>
</div>


<div class="container">
  <div class="row">
    <h4>Technology Articles</h4>
    <div id="articles"></div>
    <div id="notes"></div>
  </div>
</div>