<div class="row center">
  <div class="title">
    <h1>The New York Times Scraper</h1>
  </div>
</div>



<div class="container">
  <div class="row">
    <h4>Saved Articles</h4>
    <div id="saved-articles"></div>
    {{!-- <div id="notes"></div> --}}
  </div>
</div>


